<label>Server name</label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p> {{ serverName }} </p> -->
<button
  class="btn btn-primary"
  type="button"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add server
</button>
<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer>
  <p>{{serverCreationStatus}}</p>
</ng-template>

<app-server *ngFor="let server of servers"></app-server>
